* {
    /* 補上 box-sizing */
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei", "微軟正黑體";
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f6f7f8;
}


/* navbar區 */

#KP-home {
    font-size: 24px;
}

.lang-btn{
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
}

#my-projects,
#my-skills,
#my-jobs,
#my-education {
    cursor: pointer;
}


/* 主內容區 */

main {
    padding: 40px 20px;
    max-width: 980px;
}


/* 塊體介紹區的標題 */

h2 {
    font-size: 20px;
    margin: 20px 0 8px;
    font-weight: 700;
}


/* 塊體介紹區的副標 */

h3 {
    font-size: 20px;
    margin: 0 0 8px 0;
    font-weight: 700;
}


/* 塊體介紹區的小標 */

h4 {
    font-weight: 700;
    font-size: 20px;
}


/* personal-info, skill-section, experience-section */

section {
    margin-bottom: 24px;
}

section.personal-info>.description {
    padding: 0px 20px;
}

section.skill-section,
section.experience-section {
    /* background: #ededed; */
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

section.skill-section:hover,
section.experience-section:hover {
    box-shadow: 0px 0px 8px #bababa;
}

p {
    color: #666666;
}

.codepen-icon {
    color: rgb(95, 95, 95);
}


/* Personal Info */

.avatar {
    text-align: center;
}

.avatar-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -20px 20px 39px #e6e6e6, 20px -20px 39px #ffffff;
}

.name {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: rgb(85, 85, 85);
    margin: 20px 0;
}

.eng-name {
    font-family: 'Roboto Condensed', sans-serif;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    /* 內容置中 */
    letter-spacing: 2px;
    /* 字元間距 */
    color: #ff6600;
}

.social-media {
    visibility: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.social-media-link {
    color: #999999;
    text-decoration: none;
}

.social-media-link:hover {
    /* 滑鼠移過時啟用這組設定 */
    color: #ff6600;
    text-decoration: none
}


/* 圖表區 */

#programming-skill {
    width: 100%;
    height: 400px
}

#programming-skill text {
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei", "微軟正黑體";
}

#design-skill {
    width: 90%;
    height: 400px;
}

#design-skill text {
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei", "微軟正黑體";
}

.skill-box-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #ffffff;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-box:hover {
    background-color: rgb(255, 212, 59)
}

.skill-box i {
    font-size: 32px;
    margin-bottom: 8px;
}

.skill-box span {
    font-size: 16px;
    margin-top: 8px;
}


/* 個人專案 Side Project */

.project-filter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    opacity: 0.5;
    color: white;
    font-size: 24px;
    text-align: center;
}

.disappear {
    display: none;
}


/* Skill Section */


/*
.skills {
      display: flex; 
      justify-content: space-between;
}

.skill {
      width: 30%;
}
*/

.skill-name {
    border-top: 1.5px dashed #999999;
    padding-top: 20px;
    vertical-align: top;
    display: flex;
    align-content: center;
    align-items: center
}

.skill-name a {
    display: block;
    background: rgb(255, 138, 4);
    font-size: 12px;
    color: white;
    padding: 5px 8px;
    margin-left: 5px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.skill-name a:hover {
    background: rgb(165, 0, 0);
}

.skill-name i {
    /* font-size: 16px; */
    color: white;
}


/* Experience Section */

hr {
    border: 0px;
    height: 1px;
    background: #cccccc;
    margin: 20px 0;
}

.company,
.duration {
    color: #666666;
    font-size: 12px;
    margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
    margin-right: 5px;
}

.experience-detail-group {
    display: flex;
    flex-direction: row;
}

.experience-bar {
    margin: 15px 0px 0px 0px;
    min-width: 3px;
    background-color: rgb(150, 150, 150);
}

.job-title {
    /* border-top: 1px solid #999999; */
    padding-top: 14px;
}

.bar-1 {
    height: 105px;
}

.bar-2 {
    height: 105px;
}

.bar-3 {
    height: 162px;
}

.experience-detail {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 20px;
    line-height: 30px;
    border-left: 3px solid rgb(150, 150, 150);
}


/* timeline區 */

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 0px 20px 0px;
}

.timeline li {
    border-top: 2px solid #ccc;
    padding: 20px 0px 0px 20px;
    /* margin-bottom: 20px; */
    transition: all 0.5s ease;
}

.timeline li:hover {
    border-top: 0px solid #ccc;
    box-shadow: 0px 10px 15px rgb(168, 168, 168);
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
}

.timeline h5 {
    font-weight: 700;
}

.check-project {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 15px;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #ffa600;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /*    
  display:flex;
  justify-content:center;
  align-items:center;
*/
}

.social-icons-group {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.social-icons-design {
    color: white;
    opacity: 0.5;
    font-size: 18px;
    margin: 0px 12px;
    transition: all 0.2s ease;
}

.social-icons-design:hover {
    color: white;
    opacity: 1;
}

.lang-btn-wrapper{
    right:100px
}
/* 
=============================================
             MEDIA QUERY 1 >530px
=============================================
*/

@media screen and (min-width:430px) {
    .lang-btn-wrapper{
        right:100px
    }
    /* bar長度 */
    .bar-1 {
        height: 75px;
    }
    .bar-2 {
        height: 105px;
    }
    .bar-3 {
        height: 135px;
    }
}

@media screen and (min-width:530px) {
    #KP-home {
        margin-left: 50px;
    }
    .lang-btn-wrapper{
        right:100px
    }
    /* bar長度 */
    .bar-1 {
        height: 55px;
    }
    .bar-2 {
        height: 75px;
    }
}


/* 
=============================================
             MEDIA QUERY 1 >576px
=============================================
*/

@media screen and (min-width: 576px) {
    .lang-btn-wrapper{
        right:100px
    }
    .social-media {
        visibility: visible;
        text-align: center;
        /* 內容置中 */
        margin-bottom: 20px;
    }
    footer {
        visibility: hidden;
    }
    .avatar {
        margin-right: 2%;
    }
    .avatar-img {
        display: block;
        width: 200px;
        height: 200px;
    }
    section.personal-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    section.personal-info .personal-text-info {
        padding: 0px 0px 0px 0px;
        margin-left: 3%;
        max-width: 70%;
    }
    section.personal-info .personal-text-info * {
        text-align: left;
    }
    .name {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .title {
        margin-bottom: 5px;
    }
    .description {
        margin-top: 0px;
        font-size: 14px;
    }
    .social-media {
        margin-bottom: 0px;
    }
    /* bar長度 */
    .bar-1 {
        height: 50px;
    }
    .bar-2 {
        height: 80px;
    }
    .bar-3 {
        height: 80px;
    }
    /* timeline */
    .timeline-container {
        margin: 20px auto;
    }
    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 0px 20px 0px;
    }
    /* the timeline's center vertical line */
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        min-width: 1.5px;
        background-color: #ccc;
    }
    .timeline li {
        border-top: 2px solid #ccc;
        position: relative;
        left: 0px;
        width: 50%;
        min-height: 100px;
        margin-bottom: 20px;
        padding: 20px 40px;
        text-align: right;
        transition: .3s;
        opacity: 0;
        transform: translateX(-10%);
    }
    /* the rounded mark on each timeline item */
    .timeline li:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        right: 0;
        background: #ccc;
        border-radius: 50%;
        box-sizing: border-box;
        transform: translate(50%, -50%);
    }
    .timeline li:hover {
        border-top: 0px solid #ccc;
        box-shadow: 0px 10px 15px rgb(168, 168, 168);
        border-radius: 5px 0px 10px 10px;
    }
    .timeline h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .timeline h5 {
        font-weight: 700;
    }
    .timeline p {
        font-size: 14px;
        line-height: 28px;
    }
    /* timeline item on right side*/
    .timeline li:nth-child(2n) {
        align-self: flex-end;
        text-align: left;
        transform: translateX(10%);
    }
    .timeline li:nth-child(2n):hover {
        border-radius: 0px 5px 10px 10px;
    }
    .timeline li:nth-child(2n):before {
        left: 0;
        transform: translate(-50%, -50%);
    }
    .timeline li.visible {
        opacity: 1;
        transform: translateX(0);
    }
}


/* 
=============================================
             MEDIA QUERY 1 >700px
=============================================
*/

@media screen and (min-width:700px) {
    /* bar長度 */
    #KP-home {
        margin-left: 100px;
    }

    .lang-btn-wrapper{
        right:150px
    }
    .bar-3 {
        height: 75px;
    }
}


/* 
=============================================
             MEDIA QUERY 2 >992px
=============================================
*/

@media screen and (min-width: 992px) {
    #KP-home {
        margin-left: 150px;
    }
    .lang-btn-wrapper{
        right:150px
    }
    .main-body {
        display: flex;
        justify-content: center;
    }
    .avatar-img {
        width: 220px;
        height: 220px;
    }
    section.skill-section {
        /*  讓左區高度隨內部字體多寡改變    */
        height: 100%;
    }
    .skills,
    .experience {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .skill,
    .experience-item {
        width: 30%;
    }
    .job-title {
        /* border-top: 1px solid #999999; */
        padding-top: 14px;
    }
    .company,
    .duration {
        display: block;
        font-size: 14px;
    }
    /* bar長度 */
    .bar-1 {
        height: 105px;
    }
    .bar-2 {
        height: 105px;
    }
    .bar-3 {
        height: 165px;
    }
}